@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  width: 100%;
  background-image: linear-gradient(#FFFFFF 20px,#FFE17F 20px);
}

.logo {
  margin-left: 60px;
}

.header-menu {
  display: flex;
  margin-left: 60px;
  margin-right: 60px;
  width: 1040px;
}

.site-search {
  display: flex;
  margin-top: 10px;
  margin-right: 230px;
}

.site-search-catalogue {
  display: flex;
  margin-top: 10px;
  margin-right: 27px;
}

.search {
  font-family: inherit;
  border: 2px solid #000000;
  border-radius: 20px 1px 1px 20px;
  background-color: #FFE17F;
  width: 359px;
  height: 40px;
}

.search-button {
  font-family: inherit;
  border: 2px solid #000000;
  border-radius: 1px 20px 20px 1px;
  background-color: #FFE17F;
  width: 160px;
  height: 40px;
}
.main-menu{
  display: flex;
  width: 520px;
}

.menu-items {
  list-style: none;
}
.menu-items-enter {
  list-style: none;
  margin-right: 200px;
}

.menu-items-compare {
  list-style: none;
  margin-right: 70px;
}

.menu-items-basket {
  list-style: none;
}

.main-menu-catalogue {
  display: flex;
  width: 520px;
  padding: 0;
}

.menu-items-catalogue {
  list-style: none;
  margin-right: auto;
}

.menu-button {
  color: #000000;
  text-decoration: none;
}

.menu-button-exit {
  color: #444444;
  opacity: 0.3;
  text-decoration: none;
  display: flex;
}

.navigation-list {
  display: flex;
  margin-left: 60px;
}

.navigation-item-delivery {
  list-style: none;
  margin-right: 51px;
}

.navigation-item-warranty {
  list-style: none;
  margin-right: 55px;
}

.navigation-item-contacts {
    list-style: none;
}

.navigation-points {
  display: flex;
  margin-right: 60px;
  padding: 0;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-button {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  border: none;
  color: #000000;
  letter-spacing: 0.2em;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin-right: 550px;
}

.navigation-button-catalogue {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  border: none;
  color: #000000;
  letter-spacing: 0.2em;
  background-color: #FFE17F;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  margin-right: 320px;
}

.visually-hidden {
  display: none;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background-image: linear-gradient(#FFE17F 235px, #FFFFFF 235px);
}

.slider-photo {
  display: flex;
  margin-top: 35px;
}

.slider-information {
  margin-top: 119px;
}

.favorite-item {
  list-style: none;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: #000000;
  line-height: 50px;
}

.text-number {
  color: #000000;
  font-size: 36px;
}

.text-benifit {
  font-family: inherit;
  font-size: 16px;
}

.benifit-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.favorite-item {
  display: flex;
  justify-content: space-evenly;
}

.slider-points {
  display: flex;
  margin: 0 auto;
}

.catalogue-list {
  display: flex;
  justify-content: space-around;
  margin: 70px 140px 70px 1px;
}

.catalogue-item {
  list-style: none;
}

.catalogue-icon {
  background-color: #FFE17F;
  width: 160px;
  height: 160px;
}

.catalogue-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
}

.benifits {
  display: flex;
  height: 391px;
  width: 100%;
  background-image:  linear-gradient(#FFFFFF 170px, #F0F0F0 170px);
}
.benifit-list {
  margin-top: 64px;
  margin-bottom: 147px;
  margin-left: 140px;
}

.benifit-description {
  margin-left: 243px;
  margin-top: 100px;
  margin-bottom: 143px;
}

.benifit-item {
  list-style: none;
}

.benifit-button {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  border: none;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.gb-delivery {
  background-color: #F0F0F0;
  margin-top: 64px;
}

.gb-warranty {
  background-color: #F0F0F0;
  margin-top: 47px;
  margin-bottom: 55px;
}

.gb-credit {
  background-color: #F0F0F0;
  margin-bottom: 147px;
}

.rare-item-delivery {
  width: 1160px;
  height: 100px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-image: linear-gradient(to right,#FFE17F 125px,#F0F0F0 50px);
  border: none;
  margin: 70px 140px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  margin: 0 140px 80px 140px;
}

.about-us-subtitile {
  font-size: 24px;
}

.about-us-phone {
  color: #000000;
}

.subscribe {
  background-color: #F0F0F0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.subscribe-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 64px;
  margin-bottom: 157px;
  margin: 64px 133px 157px 147px;
}

.subscribe-form {
  display: flex;
  margin-left: 140px;
  margin-right: 140px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.itsfree {
  display: inline-block;
}

.page-footer {
  background-color: #444444;
  display: flex;
  flex-direction: column;

}

.logo-footer {
  margin-top: 60px;
  margin-left: 140px;
}

.footer-adress-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  align-items: center;

}

.footer-adress {
  color:#FFFFFF;
  line-height: 20px;
}

.footer-phone {
  color: #FFFFFF;
  display: inline-block;
}

.footer-navigation-list {
  display: flex;
}

.footer-item {
  list-style: none;
  margin-left: 35px;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.sb-wrapper {
  display: flex;
  margin-top: 63px;
  margin-left: 645px;

}

.social-buttons {
  display: flex;
}

.social-button {
  margin-right: 15px;
}

.academylogo {
  display: inline-block;
  margin-left: 300px;
}

.main-title-catalogue {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  margin-left: 60px;
}

.filter-goods-wrapper {
  background-color: #F0F0F0;
  width: 100%;
}

.goods-card-filter-wrapper {
  display: flex;
  flex-direction: column;
  width: 840px;
}

.catalogue-products {
display: flex;
}

.catalogue-navigation {
  display: flex;
  margin-left: 25px;
  margin-bottom: 34px;
}

.catalogue-navigation-item {
  list-style: none;
  margin-right: 36px;
}

.catalogue-navigation-link {
  color: #000000;
  line-height: 20px;
  text-decoration: none;
}

.color-name {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

.bluetooth-button {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
}

.filter-title {
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-title-group {
  font-family: "Raleway", sans-serif;
  color: #000000;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-left: 60px;
}

.catalogue-goods {
  background-color: #FFFFFF;
  width: 840px;
}

.goods {
  display: flex;
  width: 760px;
  margin-top: 70px;
}

.filters {
  width: 320px;
  background-color: #F0F0F0;
}

.all-catalogue-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldset-filter {
  border: none;
  margin-left: 40px;
}

.price-filter-wrapper {
  display: flex;

}

.color-checkbox-wrapper {
  display: flex;
}

.bt-button-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-legend {
  color: #000000;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 700;
}

.goods-filter {
  background-color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 760px;
  height: 20px;
  padding: 25px 40px;
}

.arrow-filters {
  display: flex;
  margin-right: 50px;
}

.price-filter {
  display: block;
}

.price-start {
  font-size: 14px;
  line-height: 20px;
  color:  #444444;
  display: inline-block;
}

.price-end {
  font-size: 14px;
  line-height: 20px;
  color:  #444444;
  display: inline-block;
}

.filter-button {
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 18px;
  border: none;
  background-color: #F0F0F0;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 45px;
}

.goods-item {
  list-style: none;
  margin-right: 40px;
}

.goods-link {
  text-decoration: none;
}
.goods-name-price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.goods-name {
  color: #000000;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  display: inline-block;
}

.goods-price {
  color: #444444;
  display: inline-block;
}

.download-more {
  width: 760px;
  height: 55px;
  font-family: "Raleway", sans-serif;
  color: #000000;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  background-color: #FFFFFF;
  border: 3px solid #F0F0F0;
  margin: 20px 40px 0 40px;
}

.catalogue-pages {
  width: 710px;
  height: 20px;
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin: 44px 40px 78px 40px;
}

.clp-wrapper {
  display: inline-block;
  justify-content: space-between;
}

.catalogue-link-pages {
  color: #444444;
  text-decoration: none;
  margin-right: 30px;
}

.catalogue-link-pages-back {
  font-family: "Raleway", sans-serif;
  color: #444444;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  display: inline-block;
}

.catalogue-link-pages-forward {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  text-decoration: none;
  display: inline-block;
}
